.about-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  left: 0%;
  height: 95vh; }
  
.about-container:before{ 
  background-image: url('../images/pages/about.png'); 

  background-color: #0b0e14; 
  background-repeat: no-repeat; 
  background-position: right;
  background-position-y: 0%;  

  filter: brightness(100%) grayscale(100%); 

  content: ''; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0%; 
  left: 0%; 
  z-index: -1; }
  
.about-header {
  font-family: 'Cinzel', serif;
  padding: 1%;
  font-size: 3vw;
  color: mediumturquoise;
  position: absolute;
  z-index: 3;
  left: 43%;
  top: -5%;
  font-weight: bolder; }

.about-text-container{ 
  position: relative; 
  left: 10%; 
  width: 40%; 
  
  margin-top: 10%; 
  font-size: 20px; 
  color: white; 
  font-family: 'Indie Flower', cursive; 
}

.about-text {
  font-weight: bolder;
  font-family: 'Cinzel', serif;
  padding: 1%;
  font-size: 2vw;
  color: white;
  position: absolute;
  z-index: 3; }

.first-blurb {
  font-size: 2.4;
  top: 5%; }

.third-line { 
  top: 20%;
  left: 55%;  
}

a {
  color: mediumaquamarine; }

.second-blurb {
  top: 60%; }

@media only screen and (max-width: 380px){
  .about-text-container{ 
    left: 46%;
    width: 50%;  
    top: -3%; 

    background-color: rgba(11, 14, 20, 0.9); 
    color:white; 
  }
}
