.about-container{ 
  background-color: black; 
  position: relative;
  height: 95vh; 

  overflow: hidden; 
  
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: stretch; }

.about-text-container{ 
  background-color: black; 
  width: 70%; 
  position: relative; 
  left: 5%; 
  display:flex; 
  align-items: center; 
}

.text-chunk{ 
  font-weight: bolder;
  font-family: 'Cinzel', serif;
  padding: 5%; 
  font-size: 2vw;
  color: white;
  text-align: center; 
  z-index: 3;
}

.about-image-container{ 
  height: 100%; 
  width: 25%; 
  
  background-color:black;  
  display: flex; 
  
}

.about-image{ 
  object-fit: contain;   
  max-width: 100%;
  z-index: 5;}

a {
  color: mediumaquamarine; }

@media only screen and (max-width: 417px){
  .about-text-container{ 
    left: 10%;
    width: 100%; 
    height: 100%;  
    top: 2%; 

    overflow: scroll; 
    z-index: 1; 
    background-color: rgba(11, 14, 20, 0.9); 
    color:white; }

  .text-chunk{ 
    font-size: 13px; 
  }
  
  .about-image { 
    position: relative;
    left: 25%; 

    object-fit: cover; 
  }
  .about-image-container{ 
    width: 100%; 
    height: 100%; 
    z-index: 0;
  }
}