.about-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  /* left: 10%; */
  height: 95vh; }
  
.about-container:before{ 
  background-image: url('../images/pages/aboutImg.jpg'); 
  background-size: cover; 

  -webkit-filter: hue-rotate(-80deg) saturate(2) brightness(60%);
  filter: hue-rotate(-80deg) saturate(2) brightness(60%);

  content: ''; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0%; 
  left: 0%; 
  z-index: -1; }
  
.about-header {
  font-family: 'Cinzel', serif;
  padding: 1%;
  font-size: 3vw;
  color: mediumturquoise;
  position: absolute;
  z-index: 3;
  left: 43%;
  top: -5%;
  font-weight: bolder; }

.about-text {
  font-weight: bolder;
  font-family: 'Cinzel', serif;
  padding: 1%;
  font-size: 2vw;
  color: white;
  position: absolute;
  z-index: 3; }

.first-blurb {
  font-size: 2.4;
  top: 5%; }

.third-line { 
  top: 20%;
  left: 55%;  
}

a {
  color: mediumaquamarine; }

.second-blurb {
  top: 60%; }

@media only screen and (max-width: 380px){
  .about-text{ 
    font-size: 20px; 
  } 
  .third-line { 
    top: 30%;
    left: 55%;  
  }
}
