.featured-projects{ 
  height: 90vh; 
  position: relative; 
  left: 5%; 
  width: 95%; 
  background-color: black; 
  display: flex; 
  justify-content: space-around; 
  align-items: center;  
}

.featured-project{ 
  height: 20%; 
  width: 20%; 
  display: inline-block; 
  background-color: white; 
  font-family: Geo; 
  color: black; 
  margin: 5%; 
  border: 1px solid blue; 
}

.collapsible-content{
  height: 20%; 
  width: 20%; 
  background-color: lightblue;  
}


