.landing-container {
  /* position: relative; */
  /* padding-left: 50px; */
  /* left: 0%;  */
  overflow: hidden; 

  height: 95vh;
} 

h1 { 
  margin-top:25px; 
  font-family: 'Monofett', cursive;
  z-index: 3;
  color: black;  
  font-size: 60px;
  padding-left: 70px;
}

.landing-text-tags-container { 

}

.header {
  margin-left: 60px; 
  padding: 0 2%; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  z-index: 2;
  position: fixed; 
  width: calc(96% - 60px);
  height: 60px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
  background-color: rgba(255, 255, 255, .45);
  
  backdrop-filter: blur(20px);
}

.landing-container:before{ 
  /* background-image: url('../images/pages/landing.jpg') ;  */
  /* background-size: cover;  */
  /* background-position: 0px;  */

  -webkit-filter: brightness(50%) grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: brightness(50%) grayscale(100%); 
  
  content: ''; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  top: 0%; 
  left: 0%; 
  z-index: -1;
}

.landing-flip { 
  display: flex; 
  align-items: center; 
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 60px; 
}

.landing-flip h3 {
  font-size: 30px;
  z-index: 3; 
  display: block; 
  margin: 47px; 
}

.landing-flip .landing-occupation-name.landing-text { 
  font-size: 40px;
}

.landing-text {
  font-size: 50px;
  filter:none; 
  color :white; 
  
  z-index: 5;
  font-family: 'Indie Flower', cursive;
  animation: example1 2000ms 
}

  @keyframes example1 {
    0%  { 
    transform: translateX(200%); 		
    }
    100% { 
      transform: translateX(0%); 
    }
  }

.landing-brand-name {  
  height: 100%; 
  color:black;
  font-size: 50px;
  margin: 0; 
  padding: 0; 
}

.landing-occupation-name {
  left: 50%;
  top: 76%;
  transform: rotate(2deg); }

.landing-musician-tag {
  color: white; 
  font-size: 50px;
  /* top: 75%; */
  /* left: 7%; */
  transform: rotate(10deg); }

.landing-maxmsp-tag {
  color: white; 
  font-size: 25px;
  /* top: 65%; */
  /* left: 11%; */
  transform: rotate(-2deg); }

.landing-game-tag {
  color: white; 
  font-size: 25px;
  /* top: 55%; */
  /* left: 10%; */
  transform: rotate(-5deg); 
}

.landing-interactive-tag {
  color: white; 
  font-size: 25px;
  /* top: 80%; */
  /* left: 4%; */
  transform: rotate(-7deg); 
}

@media only screen and (max-width: 1400px){ 
  .landing-occupation-name {
    /* left: 53%; */
    /* top: 78%;  */
  }

  /* .landing-brand-name {  
    left: 9%; 
    top: -1%; 
  } */
    
  .landing-musician-tag {
    /* top: 79%; */
    /* left: 8%;  */
  }
    
  .landing-interactive-tag {
    color: white; 
    font-size: 25px;
    /* top: 70%; */
    /* left: 8%; */
    transform: rotate(11deg); 
  }
}

@media only screen and (max-width: 1200px){ 
  .landing-occupation-name {
    font-size: 25px;
    /* left: 50%; */
    /* top: 75%;  */
  }

  /* .landing-brand-name {  
    font-size: 25px; 
    left: 9%; 
    top: -1%; 
  } */
    
  .landing-musician-tag {
    font-size: 15px; 
  }

  .landing-interactive-tag {
    font-size: 15px; 
    color: white; 

    top: 80%;
    transform: rotate(-5deg);
  }
  .landing-game-tag {
    color: white; 
    font-size: 15px;
  }
  .landing-maxmsp-tag {
    color: white; 
    font-size: 15px;
    transform: rotate(7deg);
  }
} 

@media only screen and (max-width: 414px){ 
  .landing-text{ 
    font-size: 20px; 
  }

  /* .landing-brand-name{ 
    left: 30%; 
    top: 0%; 
    font-size: 30px; 
    transform: rotate(0);
  } */

  .landing-maxmsp-tag{ 
    left: 30%; 
    top: 45%; 
    transform: rotate(0);
  }
  .landing-occupation-name {
    left: 30%;
    top: 65%;
    transform: rotate(0deg); }

  .landing-musician-tag {
    color: white; 
    top: 75%;
    left: 20%;
    transform: rotate(0deg); }

  .landing-interactive-tag {
    color: whitesmoke;
    top: 85%;
    left: 25%;
    transform: rotate(0deg); }

  .landing-game-tag {
    color: white;
    top: 55%;
    left: 20%;
    transform: rotate(0); }}



