#mobile-nav{ 
  visibility: hidden; 

  position: fixed;

  width: 100px; 
  height: 100vh; 
  top: 0px; 

  background-color: black; 
  z-index: 8; 
  z-index: 20;
}

.mobile-nav-container{ 
  height: 100%; 
  display: flex !important;
  flex-direction: column;  
  justify-content: space-between; 
}

.logo-image-mobile{ 
  filter: brightness(0) invert(1); 
  margin-top: 40%; 
  width: 100%; 
}

.brand-name-mobile{ 
  color: white; 
  font-family: Geo; 
  text-align: center; 
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  visibility: hidden; 

  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background-color: white; 
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background:white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /* background: #373a47; */
  padding: 0px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  /* padding: 0.8em; */
}

/* Individual item */
.bm-item {
  /* display: inline-block; */
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


.hamburger{ 
  max-width: 20px; 
  height: 20%; 
}

@media only screen and (max-width: 415px){ 
  #mobile-nav{
    visibility: visible; 
  }

  .bm-burger-button{ 
    visibility: visible; 
  }
}