$c1: mediumturquoise;
$c2: mediumpurple;
$g1: linear-gradient(to right, $c1, $c2);

.creative{
  font-size: 1.5rem;
  // position: relative;
  // z-index: 0;
  
  em{
    font-style: normal;
    padding: 0.1em 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
    background: white;
    background: $g1;
    display: inline-block;
    
    &::before,
    &::after{
      content: "";
      border-radius: 0.2em;
      background: white;
      display: inline-block;
      width: 1em;
      transform: skewX(-10deg);
      position: absolute;
      z-index: -1;
    }
    
    &::before{
      top: 0;
      bottom: 0;
      left: -0.3em;
      background: $c1;
    }
    
    &::after{
      top: 0;
      bottom: 0;
      right: -0.3em;
      background: $c2;
    }
  }
}
